<input id="search" placeholder="Search places..." type="text" [(ngModel)]="searchingName" (ngModelChange)="searchCountry()"  >
<span id="shortcut-search"> Ctrl + / </span>

<table rules="rows">
  <thead>
    <tr >
      <th *ngFor="let columnName of tableColumn">{{columnName}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of countryData;index as i">   
      <td>{{i}}</td>
      <td>{{item.city}}</td>
      <td><img id='countryFlag'src='https://countryflagsapi.com/png/in' alt=""></td>
    </tr> 
  </tbody>
</table>

<div>
  <button (click)="pagination('first')">First</button>
  <button (click)="pagination('next')">Next</button>
  <button (click)="pagination('last')">Last</button>
</div>